.services {
  background-color: @color_white;
  color: @color_grey;

  .items {
    .row-flex();

    .item {
      .col();
      .size(4);
      .size-lg(4);
      .size-md(4);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        color: @color_red;
        border: 2px solid #dddddd;
        font-size: 40px;

        &:hover {
          color: @color_white;
          background-color: @color_red;
          cursor: pointer;
        }
      }

      h3 {
        padding: 25px 0;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
      }

      .description {
        font-family: "Roboto Slab";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: auto;
      }
    }
  }
}


.aboutus {
  background-color: #f8f8f8;

  .block {
    background-color: inherit;
  }

  &__articles {
    .row-flex();
    padding: 0 0 70px;

    .article {
      .col();
      .size(6);
      .size-lg(6);
      .size-md(6);
      .size-sm(6);
    }
  }

  .team {
    .row-flex();

    .person {
      .col();
      .size(3);
      .size-lg(3);
      .size-md(3);
      .size-sm(6);
      text-align: center;
      color: @color_grey;

      &__photo {}

      &__name {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 15px 0;
      }

      &__position {
        font-family: "Roboto Slab";
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}
