.services {
  background-color: @color_white;
  color: @color_grey;

  .items {
    .row-flex();

    .item {
      .col();
      .size(4);
      .size-lg(4);
      .size-md(4);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        //
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid #dddddd;
        //
        color: @color_red;
        font-size: 40px;

        &:hover {
          color: @color_white;
          background-color: @color_red;
          cursor: pointer;
        }
      }

      h3 {
        padding: 25px 0;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
      }

      .description {
        font-family: "Roboto Slab";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: auto;
      }
    }
  }
}

.aboutus {
  background-color: @color_light_grey;

  .block {
    background-color: inherit;
  }

  &__articles {
    .row-flex();
    padding: 0 0 70px;

    .article {
      .col();
      .size(6);
      .size-lg(6);
      .size-md(6);
      .size-sm(6);
    }
  }

  .team {
    .row-flex();

    .person {
      .col();
      .size(3);
      .size-lg(3);
      .size-md(3);
      .size-sm(6);
      text-align: center;
      color: @color_grey;

      &__photo {}

      &__name {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 15px 0;
      }

      &__position {
        font-family: "Roboto Slab";
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}

.latestWorks {
  .blockHead ul {
    display: flex;
    justify-content: center;

    li a {
      margin-left: 30px;
      text-decoration: none;
      color: @color_grey;
      font-family: "Roboto Slab";
      font-size: 16px;
      font-weight: 400;

      &:hover {
        color: @color_red;
      }
    }
  }

  .cards {
    @mt-card: 30px;
    .row-flex();
    margin-top: -@mt-card;

    .card {
      .col();
      .size(4);
      margin-top: @mt-card;
    }
  }
}

.clientProject {
  background-blend-mode: multiply;
  background-image: url("./../img/Layer_29.png");
  background-color: @color_red+100;
  background-size: cover;
  height: 369px;
  //
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  //
  color: @color_white;
  font-family: "Roboto Slab";
  font-weight: 400;

  .appeal {
    font-size: 30px;
  }

  .button {
    display: inline-block;
    font-size: 18px;
  }
}

.recentPosts {
  .posts {
    .post {
      .row-flex();

      &__photo {
        .col();
        .size(5);
        .size-lg(5);
        .size-md(5);
        .size-sm(5);
      }

      &__description {
        .col();
        .size(7);
        .size-lg(7);
        .size-md(7);
        .size-sm(7);

        .top {
          display: flex;

          .date {
            border: 2px solid @color_grey;
            padding: 20px;
            margin-right: 30px;
            color: #777777;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;

            .day {
              font-size: 24px;
              letter-spacing: 2.4px;
            }

            .month {
              letter-spacing: 1.4px;
            }
          }

          .title {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__name {
              color: @color_red;
              font-family: Montserrat;
              font-size: 16px;
              font-weight: 400;
              text-transform: uppercase;
            }

            &__author {
              font-family: "Roboto Slab";
              font-size: 13px;
              font-weight: 400;
              font-style: italic;
              line-height: 24px;
              color: @color_grey;
            }
          }
        }

        .text {
          margin-top: 25px;
          margin-bottom: 30px;
        }

        .readMore {
          font-family: "Roboto Slab";
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1.3px;

          &:hover {
            cursor: pointer;
            color: @color_red;
          }
        }
      }
    }
  }

  .delimiter {
    border-bottom: 1px solid #dddddd;
    margin: 30px 0;
  }
}

.partners {
  background-color: @color_light_grey;
  padding: 100px 0;

  .companies {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin: 0 30px;
    }
  }

  .wishes {
    .row-flex();
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: @color_grey;
    font-family: "Roboto Slab";
    font-weight: 400;

    .text {
      .col();
      .size(8);
      font-size: 18px;
      font-style: italic;
      line-height: 30px;
      margin: 80px 0 25px;
    }

    .author {
      font-size: 20px;
    }
  }
}
